<header>
  <h1>Logro [C] - [Prototipo]</h1>
</header>
<section class="banner">
  <p>
    LUIS ANTONIO MACÍAS BERMEO - 
    ANDRES FERNANDO ZAMBRANO CAICEDO -
    MARÍA MAGDALENA MOREIRA LOOR

  </p>
</section>
<section class="descripcion">
  <div class="container__desc__izq">
    <h2>Descripción de la Tarea</h2>
    <p>Esta página está desplegada en Firebase y es un proyecto de Angular.</p>
    <p>
      En la sección inferior podemos hacer una consulta HTTPS a una API desplegada 
      en GCP usando Cloud Build con Python y FLask.
    </p>
  </div>
  <div class="container__desc__der">
    <img src="../assets/img/tecnologias.webp" alt="Imagen de ejemplo" height="275">
  </div>
</section>
<section class="datos">
  <!-- <h2>Consumo de la API</h2>
  <button (click)="getUsers()" >Mostrar Usuarios</button>
  <button (click)="getLocations()">Mostrar Locaciones</button>
  <div class="container__table__users" *ngIf="is_user">
    <table id="tablaDatos1">
      <thead>
        <tr>
          <th>
            UserId
          </th>
          <th>
            Nombre
          </th>
        </tr>
      </thead>
      <tbody>
        {{users | json}}
        
      </tbody>
  </table>
  </div>
  <div class="container__table__locations">
    <table id="tablaDatos2">
  </table>
  </div> -->
</section>